{% extends "users/base_auth.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="content-section">
  <legend>{{ user.email }} Profile</legend>
  <p class='text-muted'> Organization / Company: {{ user.profile.company }}</p>
  </div>
<hr>
  <div class="content-section profile-update-form">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Update your profile Information</legend>
                {{ u_form|crispy }} 
                <div class="text-right">
                    <small class="text-muted">
                      <a class="ml-2" href="{% url 'web-password-change' %}">Click to change your password</a>
                    </small>
                </div>
                <hr>
                {{ p_form|crispy }} 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info btn-sm" type="submit">Update Profile</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Text Place Holder, <a class="ml-2" href="#">Btn Place Holder</a>
            </small>
        </div>
    </div>
    <div>
    
    </div>
{% endblock content %}